body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;

}

a,a:hover,a:active{
    color: unset;
    text-decoration: unset;
}
.hidden{
    visibility: hidden;
}

.none{
    display: none;
}


.circle{
    border-radius: 50%;
}
// FLEX

a{
    text-decoration: unset;
}

.flexgrow{
    display: flex;
    flex-direction: column;

    .grow{
        flex-grow: 1;
    }
}

.flexC{
    display: flex;
    justify-content: center;
}

.inflex{
    display: inline-flex;
}

.flex{
    display: flex;
}

.mLeftAuto{
    margin-left: auto;
}
.flexAl{
    display: flex;
    align-items: center;
}
.flexBtw{
    display: flex;
    justify-content: space-between;
}


.flexEnd{
    display: flex;
    justify-content: flex-end;
}

.alignEnd{
    display: flex;
    align-items: flex-end;
}

.fullFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.doubleflex{
    display: flex;

    >div:nth-child(1){
        margin-right: 1em;
    }
}

.center{
    text-align: center;
}

// MARGIN TOP
.smallwm{
    margin: 1em;
}

.section{
    margin-top:2em;
}
.sectM{
    margin-top: 2.5em;
}
.smallM{
    margin-top: 0.5em;
}

.tinyM{
    margin-top: 0.3em;
}

.middleM{
    margin-top: 1.5em;
}

.nestM{
    margin-top: 1em;
}


.cursor{
    cursor: pointer;
}

.smallPad{
    padding: 0.5em;
}

.padBlock{
    padding-block: 1em;
}

.padInline{
    padding-inline: 1em;
}

.paddBoth{
    padding: 1em;
}

.sectPad{
    padding: 2em;
}

.paddBlock{
    padding-block: 1.5em;
}

.padsmallTop{
    padding: 0.7em 1.5em
}

.padLong{
    padding: 0.8em 1.5em;

    @media(min-width:500px){
        padding: 0.8em 2em;

    }
    @media(min-width: 700px){
        padding: 0.8em 2.5em;

    }
    @media(min-width: 900px){
        padding: 0.8em 3.5em;

    }

}

.padBlock2{
    padding-block: 2em;
}

.wytBg{
    background:white
}
// GRIDS

.grid2{
    display: grid;
    grid-row-gap: 1.5em;
    
    @media(min-width:700px){
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 1.5em;
    }    
    >div{
        font-size: 16px;
    }

    .ui.input{
        width: 100%;
    }
}

.grid2.padd{
    grid-column-gap: 2.5em;
}

.grid3{
    display: grid;
    grid-row-gap: 1.5em;
    
    @media(min-width:800px){
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 1.5em;
    }    
    >div{
        font-size: 16px;
    }

    .ui.input{
        width: 100%;
    }
}



.grid4{
    display:flex;


    @media(min-width:600px){
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }    


    @media(min-width:800px){
        display:flex;
        justify-content: space-between;
    }    

    >div{
        font-size: 16px;
    }

    .ui.input{
        width: 100%;
    }
}

.overflow{
    display: grid;
    @media(max-width: 800px){
        overflow-x: scroll;

    }
}

.wyt{
    color: #fff;
}



.relative{
    position: relative;
}





// DASHBOARD

.dashboard{
    min-height: 100vh;
    background:#E1F6F6;
    // opacity: 100%;
    .radius{
        border-radius: 10px;
    }



    nav{
        position: unset !important;
        width: unset !important;
    }
    
    .sidedash{
        position: absolute;
        top: 0;
        left: -500px;        
    }

    @media(min-width:900px){
        display: grid;
        grid-template-columns: 20% 76%;
        grid-column-gap: 4%;
        padding: 1.5em 1.5em 1.5em 0px;

        .sidedash{
            position: unset;
        }

    }

    @media(min-width:1100px){
        grid-template-columns: 18% 78%;
        grid-column-gap: 4%;
    }


    // .trans{
    //     >div{
    //         padding:2.4em 1.2em;
    //         border-radius: 10px;
        
    //         >div:nth-child(1){
    //             max-width: 170px;
    //             line-height: 22px;
    //             display: flex;
    //             align-items: center;
    //         }
    //     }

    //     >div:nth-child(1){
    //         background:#08B1AE;
    //     }
    //     >div:nth-child(2){
    //         background:#0A8ADF;
    //     }
    //     >div:nth-child(3){
    //         background:#052938;

    //         >div:nth-child(2){
    //             color: #07C219;
    //         }
    //     }

    // }


    .dashicons{
        >div{
            margin-top: 1.5em;
            a{
                min-width: 126px;
                display: inline-flex;
                padding-block: 0.7em;
                border-bottom: 3px solid transparent;
                color: #052938;
                min-height: 60px;
                box-sizing: border-box;
                width: 100%;
                padding-inline: 1em;
                
                >div{
                    display: flex;
                    align-items: center;
                    margin-left: 1em;
    
                }
    
                img{
                    max-width: 20px;
                }
                img.act{
                    display: unset;
                }
                img.df{
                    display: none;
                }
            }
            >a:hover{
                background: #052938;
                color: #fff;
                border-top-right-radius: 32px;
                border-bottom-right-radius: 32px;

                img.act{
                    display: none;
                }

                img.df{
                    display: unset;
                }
            }
            >a.active{
                background:#052938;
                color: #fff;
                border-top-right-radius: 32px;
                border-bottom-right-radius: 32px;
                img.act{
                    display: none;
                }

                img.df{
                    display: unset;
                }

            }
    

        }

        >div:nth-child(1){
            margin-top: 0;
        }
    }

}





// NOTIFICATION

.ntfmsg{
    max-width: 90%;
    margin: auto;
    margin-top: 1em;
    @media(min-width: 600px){
        max-width: 80%;
    }


}


// POPUP

.popup{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    border-radius: 25px 25px 0px 0px;
    img{
        max-height: 50px;
    }
    >div:nth-child(1){
        box-shadow: 0px 0px 10px #08B1AE3B;
        opacity: 1;
    }
}





//  DROPf

.name{ 
    position: relative;
    font-size: 14px;
    .drop,.dropdown{

        position: absolute;
        top:120%;
        min-width: 230px;
        width:auto;
        max-width: 240px;
        margin-left:-30px;
        left:0;
        right:0;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        transition: opacity 0.2s linear, visibility 0.2s linear;
        // padding:1em;
        box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.09);
        border-radius: 8px;
        a{
            font-size: 13px;
            display: flex;
            border-bottom:0.5px solid #CCC3C3;
            img{
                margin-right: 0.9em;
            }
            color:#333333;
        }

        
  
    }
    .dropdown{
        top:170%;
        min-width:125px;
        margin-left:unset;
        >div{
            padding:0px;
        }
        a{
            border-bottom: unset;
            padding-left: 0.3em 1px;
        }
    }
    .drop:nth-child(2){                
        img{
            width: 19px;
            height: 19px;
        }    
    }
    .last{border-bottom:none !important}

}
.name:hover{
    .drop,.dropdown{
        opacity:1;
        visibility:visible
    }

}


div.nopad{
    padding-inline: 0 !important;
}


.green{
    background: #003000;
    color: #fff;
}

.greenc{
    color: #003000;
}
.black{
    color: #141414;
}

.hashbg{
    background: #E2E8E2;
}

.icon{
    font-size: 30px;
}

.icon.small{
    font-size: 25px;
}

.profilepic{
    min-width: 150px;
    max-height: 150px;
    margin-top: 0.5em;
    border-radius: 10px;
}

.text{
    font-size: 13px;
    font-weight: 500;
}

.midtext,.text.midtext{
    font-size: 16px;
}

.hashc{
    color: #818181;
}

.bb{
    border-bottom: 1px solid #707070;
}
.round{
    border-radius: 8px;
}
.mg-lg {
    margin-top:3em ;
    @media(min-width: 992px){
        margin-top:0;

    }

}

.sidebar{
    position: absolute;
    left: -500px;
    top: 0;
    min-height: 100%;
    @media(min-width: 992px){        
        position: unset;       
    }
    transition: 1s;
}

.show{
    left: 0 !important;
    z-index: 10;
    transition: 1s;

}

.order-row{
    .order-img{
        width: 200px;       

        @media(min-width: 992px){        
            width: 150px;       
        }

        img{
            border-radius: 5px;
            max-height: 120px;
            width: 100%;
        }
    }

}

.px-lg{
    padding-inline: 1.5em;
    @media(min-width: 992px){        
        padding-inline: 2.5em;
    }

}

